name: CI

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: 0 0 * * 1 # At 00:00 on Monday

jobs:
  build:
    name: Ruby ${{ matrix.ruby }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.2", "3.3", "3.4", "4.0", "head"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          rubygems: latest

      - name: Run tests
        run: bundle exec rake test

      - name: Run linter
        run: bundle exec rake standard
